@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
    --background: oklch(1.0000 0 0);
    --foreground: oklch(0.2138 0.0019 286.2347);
    --card: oklch(1.0000 0 0);
    --card-foreground: oklch(0.4676 0 0);
    --popover: oklch(1.0000 0 0);
    --popover-foreground: oklch(0.2433 0.0041 264.4918);
    --primary: oklch(0.6316 0.1883 146.8964);
    --primary-foreground: oklch(0.9916 0.0079 114.2149);
    --secondary: oklch(0.8783 0.0993 150.4283);
    --secondary-foreground: oklch(0.4054 0.0955 157.5917);
    --muted: oklch(0.9551 0 0);
    --muted-foreground: oklch(0.5996 0.0167 251.2515);
    --accent: oklch(0.9598 0.0308 149.8211);
    --accent-foreground: oklch(0.4399 0.0732 217.4891);
    --destructive: oklch(0.5996 0.1553 13.1383);
    --destructive-foreground: oklch(0.9851 0 0);
    --border: oklch(0.9418 0.0025 228.7853);
    --input: oklch(1.0000 0 0);
    --ring: oklch(0.5320 0.1570 131.5890);
    --chart-1: oklch(0.7769 0.1425 83.2186);
    --chart-2: oklch(0.7205 0.1038 273.6722);
    --chart-3: oklch(0.6820 0.1537 155.8417);
    --chart-4: oklch(0.6823 0.1365 10.3688);
    --chart-5: oklch(0.6674 0.1524 37.9914);
    --sidebar: oklch(0.9551 0 0);
    --sidebar-foreground: oklch(0.2433 0.0041 264.4918);
    --sidebar-primary: oklch(0.7769 0.1425 83.2186);
    --sidebar-primary-foreground: oklch(0.2433 0.0041 264.4918);
    --sidebar-accent: oklch(0.9067 0 0);
    --sidebar-accent-foreground: oklch(0.2433 0.0041 264.4918);
    --sidebar-border: oklch(0.9418 0.0025 228.7853);
    --sidebar-ring: oklch(0.7769 0.1425 83.2186);
    --font-sans: DM Sans, ui-sans-serif, sans-serif, system-ui;
    --font-serif: Abhaya Libre, ui-serif, serif;
    --font-mono: monospace;
    --radius: 0rem;
    --shadow-x: 4px;
    --shadow-y: 4px;
    --shadow-blur: 12px;
    --shadow-spread: -4px;
    --shadow-opacity: 0.55;
    --shadow-color: oklch(0.432 0.095 166.913);
    --shadow-2xs: 4px 4px 12px -4px hsl(165.4903 141.8478% 15.6184% / 0.28);
    --shadow-xs: 4px 4px 12px -4px hsl(165.4903 141.8478% 15.6184% / 0.28);
    --shadow-sm: 4px 4px 12px -4px hsl(165.4903 141.8478% 15.6184% / 0.55), 4px 1px 2px -5px hsl(165.4903 141.8478% 15.6184% / 0.55);
    --shadow: 4px 4px 12px -4px hsl(165.4903 141.8478% 15.6184% / 0.55), 4px 1px 2px -5px hsl(165.4903 141.8478% 15.6184% / 0.55);
    --shadow-md: 4px 4px 12px -4px hsl(165.4903 141.8478% 15.6184% / 0.55), 4px 2px 4px -5px hsl(165.4903 141.8478% 15.6184% / 0.55);
    --shadow-lg: 4px 4px 12px -4px hsl(165.4903 141.8478% 15.6184% / 0.55), 4px 4px 6px -5px hsl(165.4903 141.8478% 15.6184% / 0.55);
    --shadow-xl: 4px 4px 12px -4px hsl(165.4903 141.8478% 15.6184% / 0.55), 4px 8px 10px -5px hsl(165.4903 141.8478% 15.6184% / 0.55);
    --shadow-2xl: 4px 4px 12px -4px hsl(165.4903 141.8478% 15.6184% / 1.38);
    --tracking-normal: 0em;
    --spacing: 0.19rem;
}

.dark {
    --background: oklch(0.2433 0.0041 264.4918);
    --foreground: oklch(1.0000 0 0);
    --card: oklch(0.3119 0.0045 247.9730);
    --card-foreground: oklch(1.0000 0 0);
    --popover: oklch(0.2433 0.0041 264.4918);
    --popover-foreground: oklch(1.0000 0 0);
    --primary: oklch(0.7769 0.1425 83.2186);
    --primary-foreground: oklch(0.2433 0.0041 264.4918);
    --secondary: oklch(0.4864 0.0199 242.7423);
    --secondary-foreground: oklch(1.0000 0 0);
    --muted: oklch(0.4099 0.0228 243.4564);
    --muted-foreground: oklch(0.7733 0.0109 247.9677);
    --accent: oklch(0.4099 0.0228 243.4564);
    --accent-foreground: oklch(1.0000 0 0);
    --destructive: oklch(0.6823 0.1365 10.3688);
    --destructive-foreground: oklch(0.9851 0 0);
    --border: oklch(0.4099 0.0228 243.4564);
    --input: oklch(0.3119 0.0045 247.9730);
    --ring: oklch(0.7769 0.1425 83.2186);
    --chart-1: oklch(0.7769 0.1425 83.2186);
    --chart-2: oklch(0.7205 0.1038 273.6722);
    --chart-3: oklch(0.6820 0.1537 155.8417);
    --chart-4: oklch(0.6823 0.1365 10.3688);
    --chart-5: oklch(0.6674 0.1524 37.9914);
    --sidebar: oklch(0.3119 0.0045 247.9730);
    --sidebar-foreground: oklch(1.0000 0 0);
    --sidebar-primary: oklch(0.7769 0.1425 83.2186);
    --sidebar-primary-foreground: oklch(0.2433 0.0041 264.4918);
    --sidebar-accent: oklch(0.4099 0.0228 243.4564);
    --sidebar-accent-foreground: oklch(1.0000 0 0);
    --sidebar-border: oklch(0.4864 0.0199 242.7423);
    --sidebar-ring: oklch(0.7769 0.1425 83.2186);
    --font-sans: DM Sans, ui-sans-serif, sans-serif, system-ui;
    --font-serif: Abhaya Libre, ui-serif, serif;
    --font-mono: monospace;
    --radius: 0rem;
    --shadow-x: 4px;
    --shadow-y: 4px;
    --shadow-blur: 12px;
    --shadow-spread: -4px;
    --shadow-opacity: 0.55;
    --shadow-color: #000000;
    --shadow-2xs: 4px 4px 12px -4px hsl(0 0% 0% / 0.28);
    --shadow-xs: 4px 4px 12px -4px hsl(0 0% 0% / 0.28);
    --shadow-sm: 4px 4px 12px -4px hsl(0 0% 0% / 0.55), 4px 1px 2px -5px hsl(0 0% 0% / 0.55);
    --shadow: 4px 4px 12px -4px hsl(0 0% 0% / 0.55), 4px 1px 2px -5px hsl(0 0% 0% / 0.55);
    --shadow-md: 4px 4px 12px -4px hsl(0 0% 0% / 0.55), 4px 2px 4px -5px hsl(0 0% 0% / 0.55);
    --shadow-lg: 4px 4px 12px -4px hsl(0 0% 0% / 0.55), 4px 4px 6px -5px hsl(0 0% 0% / 0.55);
    --shadow-xl: 4px 4px 12px -4px hsl(0 0% 0% / 0.55), 4px 8px 10px -5px hsl(0 0% 0% / 0.55);
    --shadow-2xl: 4px 4px 12px -4px hsl(0 0% 0% / 1.38);
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-destructive-foreground: var(--destructive-foreground);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);

    --font-sans: var(--font-sans);
    --font-mono: var(--font-mono);
    --font-serif: var(--font-serif);

    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);

    --shadow-2xs: var(--shadow-2xs);
    --shadow-xs: var(--shadow-xs);
    --shadow-sm: var(--shadow-sm);
    --shadow: var(--shadow);
    --shadow-md: var(--shadow-md);
    --shadow-lg: var(--shadow-lg);
    --shadow-xl: var(--shadow-xl);
    --shadow-2xl: var(--shadow-2xl);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}